  
 body {
  background:url("https://s10.postimg.org/5cycyv5ah/wood-texture-138.jpg") ;
        background-size: cover;
     background-size: 100% 100%;
  
} 
.opacity2{
  padding-bottom: 3% ;
  background-color:#F50057;
  opacity:.;
  width:80%;
  margin-right:auto;
  margin-left:auto;
  border-radius:20%;
}

.navigationborder{
 
}

.btn-default{
background-color:#81C784;
border-color: black;
color:black;
  
  
}
#instaicon{
  color: red;
}
#facebookicon{
  color:blue;
}
.price{
  display: block;
  margin: 0 auto;
  padding-top:3%;
  border-radius:20%;
 }
.gallery img{
  border:3px solid #fff;
  margin: 5px;
}
a.photo:hover img{
  border:3px solid blue;
  }



/* Med req*/

@media only screen and (max-width: 450px) { 
 

  .iconsize {
     font-size: 15px;
     font-family: 'Niconne', cursive;
  }
   .text-center h1{
  font-family: 'Niconne', cursive;
  color:black ;
  padding-top:55px;
  font-size: 40px;
  }
  .text-center h2{
  font-family: 'Niconne', cursive;
  color:white ;
  padding-top:55px;
  font-size: 35px;
  }
  .fontli{
     font-size: 12px;
    }
}
@media only screen and (min-width: 450px) { 

  .iconsize {
     font-size: 18px;
  font-family: 'Niconne', cursive;
  }
  .text-center h1{
  font-family: 'Niconne', cursive;
  color:black ;
  padding-top:55px;
  font-size: 100px;
  }
  .text-center h2{
    font-size: 55px;
    color: white;
}
  .fontli{
     font-size: 19px;
    }
@media only screen and (min-width: 1024px) { 

  .iconsize {
     font-size: 25px;
  font-family: 'Niconne', cursive;
  }
  .text-center h1{
  font-family: 'Niconne', cursive;
  color:black ;
  padding-top:55px;
  font-size: 100px;
  }
  .text-center h2{
    font-size: 55px;
    color: white;
}
  .fontli{
     font-size: 19px;
    }
}

.nav-pills {
  font-family: 'Exo 2', sans-serif;
  font-size: 2.0em;
  background-color: ;
  font-weight: 1000;
  margin-bottom:5%;
  padding-top: 2%;
  opacity:;
  border:2px solid black;
  padding-left:%;
  }
}
margin-right: 0px;
}



